/* src/components/Note.css */
@tailwind base;
@tailwind components;
@tailwind utilities; 

body{
  background-color: #202124;
  color:#e8eaed;
}
.note {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.note-list input {
  margin-bottom: 10px;
}

@media (min-width:451px) and (max-width:950px){
    .searchbar{
      width:50%;
    }
    .options{
      display: none;
    }
}